USE [master]
GO
/****** Object:  Database [WebApi]    Script Date: 14.09.2022 19:44:32 ******/
CREATE DATABASE [WebApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebApi', FILENAME = N'E:\SQLSrerver\MSSQL15.MSSQLSERVER\MSSQL\DATA\WebApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebApi_log', FILENAME = N'E:\SQLSrerver\MSSQL15.MSSQLSERVER\MSSQL\DATA\WebApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebApi]
GO
/****** Object:  Table [dbo].[position]    Script Date: 14.09.2022 19:44:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_position] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[worker]    Script Date: 14.09.2022 19:44:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[worker](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](250) NOT NULL,
	[positionID] [int] NOT NULL,
 CONSTRAINT [PK_worker] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[FIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[position] ON 

INSERT [dbo].[position] ([Id], [name]) VALUES (1, N'Уборщик')
INSERT [dbo].[position] ([Id], [name]) VALUES (2, N'Дворник')
SET IDENTITY_INSERT [dbo].[position] OFF
GO
SET IDENTITY_INSERT [dbo].[worker] ON 

INSERT [dbo].[worker] ([Id], [FIO], [positionID]) VALUES (1, N'Ivanov', 2)
SET IDENTITY_INSERT [dbo].[worker] OFF
GO
ALTER TABLE [dbo].[worker]  WITH CHECK ADD  CONSTRAINT [FK_worker_position] FOREIGN KEY([positionID])
REFERENCES [dbo].[position] ([Id])
GO
ALTER TABLE [dbo].[worker] CHECK CONSTRAINT [FK_worker_position]
GO
USE [master]
GO
